@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@media screen and (max-width: 768px)}
  
    .young-serif-regular {
        font-family: "Young Serif", serif;
        font-weight: 400;
        font-style: normal;
      }

    .outfit- < uniquifiet> {
        font-family: "Outfit", serif;
        font-optical-sizing: auto;
        font-style: normal;
      }
      

:root {
    --colorbranco: hsl(0, 0%, 100%);
    --colorstone100: hsl(30, 54%, 90%);
    --colorstone150: hsl(30, 18%, 87%);
    --colorstone600: hsl(30, 10%, 34%);
    --colorstone900: hsl(24, 5%, 18%);

    --colorbrown800: hsl(14, 45%, 36%);

    --colorrose800: hsl(332, 51%, 32%);
    --colorrose50: hsl(330, 100%, 98%);
}

/* Zera configuração da tela */

/* Corpo */
body {
    margin: auto;
    height: 100vh;
    width: 100vh;
    background-color: var(--colorstone100);
    padding: 30px;

    overflow-x: hidden;
}

main {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-bottom: 30px;

    font-family: "Outfit", serif;
    font-weight: 16px;
    color: var(--colorstone900);
    text-align: center;
}


main, header {
    margin: auto;
    padding: 15px;
    background-color: #fff;
    font-weight: 16px;

}

hr {
    color: var(--colorstone100);

}

/* cabeçalho */

header {
    text-align: center;
    font-family:"Young Serif", serif;
    font-size: 35px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;


}

header h1 {
    margin: auto;
    padding-top: 35px;
    padding-bottom: 7px;

    color: var(--colorstone900);
    font-family: "Young Serif", serif;;
}

header img {
    border-radius: 15px;
    min-width: 300px;
}

h2 {
    color: var(--colorbrown800);
    font-weight: 400;
    text-align: center;
    margin: 50px;

    font-family: "Young Serif", serif;
}

p {
    color: var(--colorstone600);
    font-weight: 16px;
    margin: 50px;


    margin: auto;
}

/* Tempo preparação */

.tprosa {
    background-color: var(--colorrose50);
    color: var(--colorstone600);
    list-style-position: inside;
    padding-bottom: 0px;
       

    border-radius: 15px;
}

#tp1 {
    color: var(--colorrose800);
    margin: auto;

    padding-top: 0px;
}
#tp1 .tp strong {
    color: var(--colorstone900);
    margin: auto;
    padding-left: 5px;
    text-align: justify;
}

.tp li {
    margin: auto;
    padding-left: 5px;
    text-align: center;
    padding-bottom: 15px;
}

li {
    padding-bottom: 5px;
    fill: var(--colorbrown800);
}


/* Lista de Itens*/

.itens span li {
    color: var(--colorstone600);
    list-style-position: inside;
    margin: auto;
    padding-left: 5px;
    text-align: center;
    padding-bottom: 15px;
}

.itens h2 {
    margin: auto;

}

/* Lista de Instruções*/

section {
    margin: 60px;
    text-align: left;
}

section h2 {
    margin: auto;
    padding: 10px;
}

.listol {
    color: var(--colorstone600);
    display: block;
    padding: 4px;
}


.listol li strong {
    color: var(--colorbrown800);
    font-weight: 20px;
    list-style-position: inside;
    margin: auto;
    padding-left: 5px;
}

article {
    text-align: center;
}

ol  li {
    fill:  hsl(14, 45%, 36%);
}

/* Tabela Nutritiva */

.tabelanutri {
    margin: 10px;
}

.listnutri  {
    list-style-type: none;
    color: var(--colorstone900);
}

article > ul strong {
    color: var(--colorbrown800);
    padding-left: 350px;
 }

/* Rodapé */

footer {
    font-style: none;
    text-align: center;
    color: var(--colorstone900);
    background-color: var(--colorrose50);
    border-radius: 5px;
}

  