@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.attribution { 
    font-size: 11px; 
    text-align: center; }

.attribution a { 
    color: hsl(228, 45%, 44%); }

@media screen and (max-width:
    1440px) {

        #main { min-width: 375px; }
    }

:root {
    --colorbranco: hsl(0, 0%, 100%);
    --colorstone100: hsl(30, 54%, 90%);
    --colorstone150: hsl(30, 18%, 87%);
    --colorstone600: hsl(30, 10%, 34%);
    --colorstone900: hsl(24, 5%, 18%);

    --colorbrown800: hsl(14, 45%, 36%);

    --colorrose800: hsl(332, 51%, 32%);
    --colorrose50: hsl(330, 100%, 98%);

}

* {
    background-color: var(--colorstone100);
    margin: 100px;
}

body {
    background-color: var(--colorbranco);
    font-family: "Outfit", sans-serif;
    border-radius: 15px;
}

header {
    padding-top: 25px;
    border-radius: 15px;

}

main {
    background-color: var(--colorbranco);
    text-align: justify;
    font-family: "Young Serif", serif    
}

header, section, p, h1, article {
    background-color: var(--colorbranco);
}

img {
    width: 103%;
    display: block;
    margin: auto;
    margin-top: 20px;
    border: 20px;
    border-radius: 10px;
}

.tpreparacao {
    background-color: var(--colorrose50);
    color: var(--colorstone900);
    font-family: "Outfit", sans-serif;
    margin: 10px;
    padding: 5px;
}

#t1 {
    color: var(--colorrose800);
    display: block;
    padding: 15px;

    text-align: center;
}

ul, li {
    display: block;
    margin: auto;
    padding: 5px;
}

#itens {
    text-align: left;
    font-family: "Outfit", sans-serif;
    color: var(--colorstone900);
}

strong {
    background-color: var(--colorrose50);
    color: var(--colorbrown800);
    text-align: left;
    
}

h1 {
    =
    font-family: "Young Serif", serif;
    font-weight: 900;
    text-align: center;

}

section > p {
    font-family:"Young Serif", serif;
    color: var();
}

ul > li {
    color: var(--colorstone600);
    background-color: #fff;
    display: block;

}